In [2]:
#Inline magic command
%matplotlib inline
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import os
import csv
import numpy as np
import statistics

In [6]:
#files to load

city_data_to_load = os.path.join("Resources", "city_data.csv")
ride_data_to_load = os.path.join("Resources", "ride_data.csv")

In [9]:
#create city and ride data frames
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [10]:
#Get the columns and rows that are not null; df.count method is used
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [11]:
#to ensure no null exists, using isnull and sum 
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [12]:
#check the data types
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [37]:
#unique values for the type of city
sum(city_data_df["type"]=="Urban")
sum(city_data_df["type"]=="Rural")
#sum(city_data_df["type"]=="Suburban")

18

In [38]:
#ensure no null data in ride data
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [40]:
#columns and rows that are not null
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [41]:
#data types
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [45]:
#merge the data frames; upon inspection it is clear city is the common column, let's use that column to merge the data frames

pyber_data_df = pd.merge(ride_data_df, city_data_df, how ="left", on = ["city", "city"])

pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban